.fa-sun{
    color:#f9d71c;
}
.fa-cloud{
   color: rgb(143, 137, 137);
}
.fa-cloud-rain{
    color: rgba(44, 103, 180, 0.87);
}
.fa-bolt{
    color: rgb(233, 155, 12)
}
.fa-snowflakes{
    color: rgb(97, 180, 235)
}
.fa-smog{
    color: rgb(214, 207, 207);
}